* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --sidebar: #1D5D9B;
    --toDoTask: #7ca7eb7d;
    --secondary: rgba(255, 255, 255, 0.529);
    --content: #91C8E4;
    --tenPercent: #59c1bed8;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background: var(--content);
}

#container {
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    grid-template-areas: 
        "sidebar main"
    ;
}

.sidebar {
    grid-area: sidebar;
    background: var(--sidebar);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
}

.userProfile, .userInfo {
    display: flex;
    justify-content: flex-start;
    margin: 1.5rem;
    margin-right: 0.5rem;
    align-items: center;
    color: white;
}

.userInfo h1 {
    font-size: 30px;
}

.userProfile div {
    margin: 20px 20px;
    font-size: 25px;
    font-weight: bold;
}

.userProfile button {
    text-decoration: none;
    margin: 0;
    color: white;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
    /* background: var(--content); */
    background: var(--tenPercent);
}

ul {
    list-style: none;
}

li i {
    font-size: 23px;
    transition: 0.3s;
}

li i::before {
    margin-right: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

li:hover > i, li:hover > i > a {
    color: white;
}

.userLists {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.userLists > ul > li:not(:first-child) {
    margin-top: 20px;
}

.list {
    color: var(--secondary);
    font-size: 25px;
}

.list:hover {
    color: white;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.header > button {
    margin-right: 20px;
}

.bx-task {
    color: var(--secondary);
}

.bx-rotate-90 {
    transition: 0.3s;
}

.bx-rotate-90:hover {
    transform: rotate(180deg);
}

dialog {
    margin: 0 auto;
    top: 30%;
    border: none;
    width: 600px;
    height: 250px;
    border-radius: 20px;
}

dialog[open]::backdrop {
    background: rgb(84, 84, 84);
    opacity: 0.8;
    animation: backdrop-fade 0.3s ease-out;
}

@keyframes backdrop-fade {
    from {
        background: transparent;
    }
    to {
        background: rgb(84, 84, 84);
    }
}

form.tags, form.userLists, form.additional {
    width: 100%;
    height: inherit;
    padding: 25px;
    padding-top: 15px;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#reminder {
    width: 400px;
}

.additionalsHeader {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

#setReminder > input {
    outline: none;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    border: white;
}

.bx-x {
    font-size: 40px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.exit {
    align-self: flex-end;
}

.bx-x:hover {
    transform: scale(1.1);
    opacity: 1;
}

form, dialog {
    background: var(--sidebar);
}

.dialogInput {
    font-size: 35px;
    font-weight: bold;
    color: white;
    border: none;
    background: transparent;
}

.dialogInput::placeholder {
    color: white;
    opacity: 0.7;
}

.dialogInput:focus,
.taskInputs:focus {
    outline: none;
}

.continue {
    font-weight: bold;
    margin: 0;
    padding: 12px 30px;
    border-radius: 10px;
    background: #129cff7c;
    align-self: flex-end;
    transition: 0.3s;
}

.continue:disabled {
    opacity: 0.5;
    cursor: auto;
}

.continue:not(:disabled):hover {
    transform: scale(1.05);
}

.main {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    grid-template-rows: 0.07fr 1fr;
    grid-template-areas: 
        "header header header"
        "taskOne taskTwo ."
    ;
    margin: 1.5%;
    column-gap: 2%;
    row-gap: 3%;
}

#mainHeader {
    grid-area: header;
    width: fit-content;
}

#mainHeader h1 {
    font-size: 25px;
    margin: 10px;
}

#allTasksDivOne {
    grid-area: taskOne;

    display: grid;
    grid-template-rows: 90% auto;
    grid-template-areas: 
        "overview"
        "addTask"
    ;
}

.overview {
    margin: 20px;
    grid-area: overview;
    /* border: 1px solid red; */
}

.overview > div {
    margin-bottom: 20px;
}

#allTasksDivTwo {
    grid-area: taskTwo;
}

div.allTasks {
    background: var(--sidebar);
    height: 100%;
    border-radius: 15px;
    color: white;
}

.taskInputs {
    background: var(--secondary);
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: bold;
    transition: 0.3s;
}

.taskInputs.checklistItem {
    background: transparent;
}

#notes, #addNewChecklistItem {
    padding: 5px 10px;
    font-size: 16px;
}

#addNewTask {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

.taskInputs::placeholder {
    font-weight: bold;
    color: var(--secondary);
}

.taskInputs:focus {
    background: white;
}

.taskInputs:not(:focus) {
    color: white;
    font-weight: bold;
}

#notes:hover {
    border-color: var(--secondary);
}

#addTask {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    grid-area: addTask;
    padding: 10px;

    display: flex;
    position: relative;
}

#addTask > button {
    background: white;
    color: var(--tenPercent);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    transition: 0.2s;
    font-weight: bold;
}

#addTask > button:hover {
    color: white;
    background: var(--tenPercent);
}

#addTask > button:disabled {
    color: var(--secondary);
    background: var(--secondary);
    cursor: auto;
}

fieldset {
    border: none;
}

fieldset > div,
fieldset + div {
    margin-bottom: 10px;
    background: var(--toDoTask);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    height: 2.5rem;

    display: flex;
    gap: 5px;
    align-items: center;
}

fieldset label {
    cursor: pointer;
    width: 100%;
    padding: 5px;
}

fieldset legend {
    font-size: 32px;
    margin-bottom: 10px;
}

.toDoObj {
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

#allTasksDivTwo {
    display: grid;
    grid-template-rows: 1fr;
}

#divTwoContainer {
    margin: 20px;

    display: grid;
    grid-template-rows: 0.05fr 0.1fr 0.1fr minmax(min-content, max-content);
    grid-template-areas: 
        "detailHeader"
        "additional"
        "notes"
        "checklist"
    ;
    row-gap: 15px;
}

#detailHeader {
    grid-area: detailHeader;
}

#detailNotes {
    grid-area: notes;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailSubHead {
    font-size: 17px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#additionalElems {
    grid-area: additional;
    display: flex;
    gap: 15px;
    align-items: center;
}

#additionalElems button {
    background: var(--tenPercent);
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    transition: 0.3s;
    font-weight: bold;
}

#additionalElems button:hover {
    transform: scale(1.05);
}

#checkListSect {
    grid-area: checklist;
}

#addChecklistItem {
    width: 100%;
    height: inherit;
    border-radius: inherit;
}

#checkList > div > input[type=text] {
    width: 100%;
}

#checkList > div > input {
    background-color: transparent;
    color: white;
    height: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: inherit;
    padding: 5px;
}

.reminderBtns {
    display: flex;
    gap: 1em;
}

#deleteReminder:hover {
    background-color: lightcoral;
}

#setReminderBtn:hover {
    background-color: rgb(105, 201, 105);
}

#listContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#listHeader {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

#list {
    width: 350px;
}

#linksContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;
    scrollbar-width: thin;
}

#linksContainer > a {
    font-size: 1.5rem;
    padding: 1px 7px;
    border-radius: 8px;
}

.current {
    color: white;
    border: 2px solid white;
}

a.viewing, i.viewing {
    color: var(--tenPercent);
}