* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --sidebar: #35507a;
    --toDoTask: #617da9;
    --secondary: rgba(255, 255, 255, 0.529);
    --content: linear-gradient(90deg, #129cff7c, rgba(94, 216, 155, 0.627));
    --tenPercent: rgb(46, 195, 222);
}

html, body {
    width: 100%;
    min-height: 100vh;
    background: var(--content);
}

#container {
    display: grid;
    grid-template-columns: 0.18fr 1fr;
    grid-template-areas: 
        "sidebar main"
    ;
}

.sidebar {
    grid-area: sidebar;
    background: var(--sidebar);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
}

.userProfile, .userInfo {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 30px 30px;
    align-items: center;
    color: white;
}

.userInfo h1 {
    font-size: 30px;
}

.userProfile div {
    margin: 20px 20px;
    font-size: 25px;
    font-weight: bold;
}

.userProfile button {
    text-decoration: none;
    margin: 0;
    color: white;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
    /* background: var(--content); */
    background: var(--tenPercent);
}

ul {
    list-style: none;
}

li i {
    font-size: 23px;
}

li i::before {
    margin-right: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover,
.userLists > ul > li > a:hover,
.secondary > li > i > a:hover {
    color: white;
}

.userLists {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.userLists > ul > li:not(:first-child) {
    margin-top: 20px;
}

.secondary > li > a,
.secondary > li > i > a {
    color: var(--secondary);
    font-size: 25px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.header > button {
    margin-right: 20px;
}

.bx-task {
    color: var(--secondary);
}

.bx-rotate-90 {
    transition: 0.3s;
}

.bx-rotate-90:hover {
    transform: rotate(180deg);
}

dialog {
    margin: 0 auto;
    top: 30%;
    border: none;
    width: 600px;
    height: 250px;
    border-radius: 20px;
}

dialog[open]::backdrop {
    background: rgb(84, 84, 84);
    opacity: 0.8;
    animation: backdrop-fade 0.3s ease-out;
}

@keyframes backdrop-fade {
    from {
        background: transparent;
    }
    to {
        background: rgb(84, 84, 84);
    }
}

form.tags, form.userLists {
    width: 100%;
    height: inherit;
    padding: 25px;
    padding-top: 15px;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bx-x {
    font-size: 40px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.exit {
    align-self: flex-end;
}

.bx-x:hover {
    transform: scale(1.1);
    opacity: 1;
}

form, dialog {
    background: var(--sidebar);
}

.dialogInput {
    font-size: 35px;
    font-weight: bold;
    color: white;
    border: none;
    background: transparent;
}

.dialogInput::placeholder {
    color: white;
    opacity: 0.7;
}

.dialogInput:focus,
.taskInputs:focus {
    outline: none;
}

.continue {
    font-weight: bold;
    margin: 0;
    padding: 12px 30px;
    border-radius: 10px;
    background: #129cff7c;
    align-self: flex-end;
    transition: 0.3s;
}

.continue:disabled {
    opacity: 0.5;
    cursor: auto;
}

.continue:not(:disabled):hover {
    transform: scale(1.05);
}

.main {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    grid-template-rows: 0.07fr 1fr;
    grid-template-areas: 
        "header header header"
        "taskOne taskTwo ."
    ;
    margin: 1.5%;
    column-gap: 2%;
    row-gap: 3%;
}

#allTasksHeader {
    grid-area: header;
}

#allTasksHeader h1 {
    font-size: 25px;
    margin: 10px;
}

#allTasksDivOne {
    grid-area: taskOne;

    display: grid;
    grid-template-rows: 90% auto;
    grid-template-areas: 
        "overview"
        "addTask"
    ;
}

.overview {
    margin: 20px;
    grid-area: overview;
    /* border: 1px solid red; */
}

.overview > div {
    margin-bottom: 20px;
}

#allTasksDivTwo {
    grid-area: taskTwo;
}

div.allTasks {
    background: var(--sidebar);
    height: 100%;
    border-radius: 15px;
    color: white;
}

.taskInputs {
    background: var(--secondary);
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s;
}

#notes {
    padding: 5px 10px;
    font-size: 20px;
}

#addNewTask {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

#notes:focus,
#addNewTask:focus {
    background: white;
}

#notes:hover,
#addNewTask:hover {
    border-color: var(--secondary);
}

#addTask {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    grid-area: addTask;
    padding: 10px;
    /* border: 1px solid red; */

    display: flex;
    position: relative;
}

#addTask > button {
    background: white;
    color: var(--tenPercent);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    transition: 0.2s;
    font-weight: bold;
}

#addTask > button:hover {
    color: white;
    background: var(--tenPercent);
}

fieldset {
    border: none;
}

fieldset > div {
    margin-bottom: 10px;
    padding: 8px;
    background: var(--toDoTask);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    gap: 5px;
}

fieldset label {
    cursor: pointer;
    width: 100%;
}

fieldset legend {
    font-size: 32px;
    margin-bottom: 10px;
}

/* #task1, #task2 {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: white;
    border: 5px solid grey;
    box-shadow: 0 0 0 4px white;
    margin-left: 5px;
    margin-right: 8px;
} */

.toDoObj {
    cursor: pointer;
    margin-right: 8px;
}

#allTasksDivTwo {
    display: grid;
    grid-template-rows: 1fr;
}

#divTwoContainer {
    margin: 20px;

    display: grid;
    grid-template-rows: 0.05fr 0.1fr 0.1fr minmax(min-content, max-content);
    grid-template-areas: 
        "detailHeader"
        "additional"
        "notes"
        "checklist"
    ;
    row-gap: 15px;
}

#divTwoContainer, #divTwoContainer > div {
    /* border: 1px solid red; */
}

#detailHeader {
    grid-area: detailHeader;
}

#detailNotes {
    grid-area: notes;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailSubHead {
    font-size: 17px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#additionalElems {
    grid-area: additional;
    display: flex;
    gap: 15px;
    align-items: center;
}

#additionalElems button {
    background: var(--tenPercent);
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
}

#additionalElems button:hover {
    transform: scale(1.05);
}

#checklistCon {
    grid-area: checklist;
}